<!-- words_app/templates/words_app/partials/_starter.html -->
<div class="col-lg-4 p-4 border mb-4 mb-lg-0 starter-container-light" id="div-starter-container">
        <h2 class="text-center mb-5">Back to Starter</h2>
        <div class="row">
            <div class="col-md-9 p-3 mx-auto border">
                <h3 class="mb-4">Limited to:</h3>
                <ul>
                    <li class="check-tick-li">Word of the day</li>
                    <li class="check-tick-li">Viewing a random word</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4 text-center">
                <button 
                    type="button" 
                    class="btn btn-primary" 
                    data-bs-toggle="modal" 
                    data-bs-target="#starter_group_div">
                    {% if user_group == 'Pro' or user_group == 'Plus' %}
                        Downgrade
                    {% else %}
                        Starter
                    {% endif %}
                </button>
                <!-- Starter Modal -->
                <div 
                    class="modal fade" 
                    id="starter_group_div" 
                    tabindex="-1" 
                    role="dialog" 
                    aria-labelledby="starter_group_modal" 
                    aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <form method="post">
                        {% csrf_token %}
                        <input 
                            type="hidden" 
                            name="upgrade_type" 
                            value="starter_group">
                        <div class="modal-header">
                            <h5 
                                class="modal-title" 
                                id="starter_group_modal">{{ modalTitle }}
                            </h5>
                        </div>
                        <div class="modal-body">
                            {{ modalBody }}
                        </div>
                        <div class="modal-footer">
                            <button 
                                type="button" 
                                class="btn btn-secondary" 
                                data-bs-dismiss="modal">{{ close }}
                            </button>
                            <button 
                                type="submit" 
                                class="btn btn-primary">{{ confirm }}
                            </button>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
