<!-- words_app/templates/words_app/partials/_upgrade_account.html -->
<div class="col-md-6 p-4 border mt-md-0 mt-4">
    <h2 class="mb-4">
        <a 
            href="{% url 'words_app:upgrade_account' %}"
            class="display-5 upgrade-account-heading-link">Upgrade Account?</a>
    </h2>
    <p>With a Plus or Pro account, you can get access to:</p>
    <ul>
        <li class="check-tick-li">Examples</li>
        <li class="check-tick-li">Synonyms</li>
        <li class="check-tick-li">Antonyms</li>
        <li class="check-tick-li">Definitions</li>
        <li class="check-tick-li">Favourite words</li>
    </ul>
</div>